.blog{
    display:flex;
    justify-content: center;
    align-items:center;

    padding:40;
    border-bottom:4px solid black;
    background-image:url(jeebg.jfif);
    padding-top:20px;
}
.Big{
    background-color:darksalmon;
}
 .blog .bar a{
    font-size:20px;
    margin-top: 30px;
 }
.blog heading{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:200px;}

    

.blog .heading span{
    
    color:red;
    font-size:40px;
    text-decoration: underline;
     
}
.blog .heading h3{
    font-size:30px;
    color:black;
    margin-left:300px;
    font: weight 800px;
    
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:0px;
    flex-wrap:wrap;
}
.container img{
    margin-top: 20px;
    object-fit:center;
    object-position: center;
}
.para .par{
    margin-left:320px;
    margin-right:300px;
    font-size:20px;
    border:3px solid black;
    word-spacing:0.1em;
    background-color: bisque;
}
.para .list{
    font-size:20px;
     
}
